[submodule "backend/ai_services/whisperx"]
	path = backend/ai_services/whisperx
	url = https://github.com/m-bain/whisperX.git
[submodule "backend/app/ai_services/whisperx"]
	path = backend/app/ai_services/whisperx
	url = https://github.com/m-bain/whisperX.git
